#canvasPalletID{
  width:              244px;
  display:            inline-block;
  float:              left;
  margin:             0px -1000px 0px 750px;
  padding:            0px;
}

/** BASE STYLES */
#canvasPalletID ul{
  display:            block;
  width:              244px;
  list-style-type:    none;
  margin:             0px;
  padding:            0px;
}

#canvasPalletID ul li.group{
  background:         #F1F1F1;
}

#canvasPalletID ul li.group span.group-button{
  display:            block;
  width:              244px;
  height:             30px;
  line-height:        30px;
  font-weight:        bold;
  background:         #5F5F5F;
  color:              #ffffff;
  font-size:          18px;
  margin:             0px;
  padding:            0px 0px 0px 10px;
  cursor:             pointer;
}

#canvasPalletID ul li.group ul{
  display:            none;
  visibility:         hidden;
  margin:             0px;
  padding:            0px;
}

#canvasPalletID ul li.group ul li.editor{


}

#canvasPalletID ul li.group ul li.editor span.editor-button{
  width:              244px;
  height:             25px;
  display:            block;
  background:         #5F5F5F;
  color:              #ffffff;
  line-height:        25px;
  font-size:          15px;
  padding:            0px 0px 0px 25px;
  cursor:             pointer;
}

#canvasPalletID ul li.group ul li.editor span.form{
  width:              244px;
  display:            none;
  visibility:         hidden;
  padding:            5px 0px 0px 0px;
}

#canvasPalletID ul li.group ul li span.form button.submit{

}

#canvasPalletID ul li.group ul li span.form label{
  display:        inline-block;
  width:          75px;
  font-size:      12px;
  line-height:    20px;
  margin:         0px;
  padding:        0px 5px 0px 0px;
  font-weight:    bold;
  text-align:     right;
}

#canvasPalletID ul li.group ul li span.form input{

}

#canvasPalletID ul li.group ul li span.form select{

}

#canvasPalletID ul li.group ul li span.form button.submit{
  display:        block;
  width:          244px;
  height:         26px;
  background:     #1d9d74;
  color:          #fff;
  margin:         5px 0px 0px 0px;
  padding:        0px 0px 0px 0px;
  border:         1px solid #198764;
  font-size:      16px;
  line-height:    20px;
  box-shadow:     0 1px 0 rgba(255, 255, 255, 0.2) inset;
  text-shadow:    0 1px 0 rgba(0, 0, 0, 0.2);
  cursor:         pointer;
  font-family:    proxima-nova,"Helvetica Neue",Helvetica,Arial,sans-serif;
}
#canvasPalletID ul li.group ul li span.form button.submit:hover{
  background-color: #157254;
  border-color: #0f543e;
  color: #fff;
}

/** ACTIVE CLASSES */
#canvasPalletID ul li.active{

}

#canvasPalletID ul li.active span.group-button{
  background: #4CAF50;
}

#canvasPalletID ul li.active ul{
  display:    block;
  visibility: visible;

}

#canvasPalletID ul li.active ul li.active span.editor-button{
  background: #4CAF50;
}

#canvasPalletID ul li.active ul li.active span.form{
  display: block;
  visibility: visible;
}
